*{
    margin: 0;
    padding: 0;
}
body{   
    background-image: url(background.png);
    background-size: cover;
}
h1{
    text-align: center;
}
.main{
    width: 25rem;
    margin: 10rem auto;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}
h1{
    margin: 2rem;
}
.noteimg{
    height: 1.5rem;
    width: 1.5rem;
}
.row{
    display: flex;
    justify-content: center;
    background-color: #f7ddee;
    border-radius: 0.4rem;
}
#note{
    padding: 0.2rem 1rem;
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    background: transparent;
}
#add{
    width: 7rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: white;
}
ul li{
    padding: 0.25rem;
    list-style: square;
    margin: 1rem;
}
ul li span{
    position: absolute;
    padding: 0.2rem;
    right: 30rem;
}
ul li span:hover{
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 50%;
}
@media only screen and (max-width: 768px){
    body{
    height: 100vh;
}
.main{
    width: 17rem;
}
ul li span{
    position: absolute;
    padding: 0.2rem;
    right: 3rem;
}
}